#_1 {
    background: url(../../img/carpet__page/card_1/carpet_1.JPG) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/carpet__page/card_2/carpet_1.JPG) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/carpet__page/card_3/carpet_1.JPG) center center/cover no-repeat;
}
