#_1 {
    background: url(../../img/sofa__page/card_1/scandi_1.jpg) no-repeat;
    background-size: 100%;
}

#_2 {
    background: url(../../img/sofa__page/card_2/loft_3.1.jpg) no-repeat;
    background-size: 100%;
}

#_3 {
    background: url(../../img/sofa__page/card_3/fox_1.jpg) no-repeat;
    background-size: 100%;
}

#_4 {
    background: url(../../img/sofa__page/card_4/tommy_1.jpg) no-repeat;
    background-size: 100%;
}

#_5 {
    background: url(../../img/sofa__page/card_5/loft_1.1.jpg) no-repeat;
    background-size: 100%;
}

#_6 {
    background: url(../../img/sofa__page/card_6/loft_t1.jpg) no-repeat;
    background-size: 100%;
}

#_7 {
    background: url(../../img/sofa__page/card_7/sofford_1.jpg) no-repeat;
    background-size: 100%;
}

#_8 {
    background: url(../../img/sofa__page/card_8/lion_1.jpg) no-repeat;
    background-size: 100%;
}

#_9 {
    background: url(../../img/sofa__page/card_9/loft_p1.jpg) no-repeat;
    background-size: 100%;
}

#_10 {
    background: url(../../img/sofa__page/card_10/scandi_1.jpg) no-repeat;
    background-size: 100%;
}

#_11 {
    background: url(../../img/sofa__page/card_11/loft_b1.jpg) no-repeat;
    background-size: 100%;
}

#_12 {
    background: url(../../img/sofa__page/card_12/loft_2.jpg) no-repeat;
    background-size: 100%;
}