.product__header {
    background: url(../../img/sofa__page/sofa.jpg) center center/cover no-repeat;
}

#_1 {
    background: url(../../img/sofa__page/sofa.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/sofa__page/sofa2.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/sofa__page/sofa3.jpg) center center/cover no-repeat;
}

#_4 {
    background: url(../../img/sofa__page/sofa4.jpg) center center/cover no-repeat;
}