.product__header {
    background: url(../../img/corner-sofa/sofa_corner.jpg) center center/cover no-repeat fixed;
}

#_1 {
    background: url(../../img/corner-sofa/card_1/loft_l1.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/corner-sofa/card_2/loft_g1.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/corner-sofa/card_3/loft_e4.jpg) center center/cover no-repeat;
}

#_4 {
    background: url(../../img/corner-sofa/card_4/rich_1.jpg) center center/cover no-repeat;
}

#_5 {
    background: url(../../img/corner-sofa/card_5/otto_1.jpg) center center/cover no-repeat;
}

#_6 {
    background: url(../../img/corner-sofa/card_6/loft_p1.jpg) center center/cover no-repeat;
}

#_7 {
    background: url(../../img/corner-sofa/card_7/loft_1.jpg) center center/cover no-repeat;
}

#_8 {
    background: url(../../img/corner-sofa/card_8/scandi_1.jpg) center center/cover no-repeat;
}

#_9 {
    background: url(../../img/corner-sofa/card_9/scandi_p1.jpg) center center/cover no-repeat;
}