body {
    color: #000000;
}

h2 {
    padding: 25px 0px 0px;
    margin: 0px auto;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(105, 109, 118);
}

button {
    cursor: pointer;
}

.order {
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    color: #000000;
    background: #ffe163;
}

.gallery {
	width: 100%;
	margin: 50px 0 0 0;
    padding: 15px 0 0 15px;
    box-sizing: border-box;
	display: flex;
}

.gallery__wrap {
	width: 70%;
}

.gallery__screen {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.gallery__screen img{
    width: 100%;
}

.gallery__item__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

.gallery__item {
    width: 175px;
    height: 100px;
    margin: 10px 0 5px 0;
}




.gallery__descr {
    width: 50%;
    padding: 0 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.same {    
	padding: 0 10px;
}

.same__wrap {
	display: flex;
	justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.same__wrap p {
    margin: 5px auto;
}


.same__item {
	width: 250px;
	height: 150px;
}

.more {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}

.more div {
    color: red;
}

.more span {
    margin: 0 5px;
    text-decoration-line: line-through;
    text-decoration-color: red;
}