.header {
    width: 100%;
    height: 300px;
}

h1 {
    margin: 0 0 0 100px;
    padding: 30px 0;
    font-size: 50px;
}

p {
    margin: 10px 0 0 50px;
    font-size: 20px;
}

.products {
    width: 100%;
}

h2 {
    padding: 25px 0 0 0;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #696d76;
}

.products__wrap {
    width: 100%;
    padding: 0 0 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.products__item {
    min-width: 400px;
    height: 200px;
    margin: 40px 10px;
    font-size: 30px;
    border: 2px solid #FFFFFF;
}

.products__description {
    width: 100%;
    font-size: 30px;
}

.bed { 
    background: url(../img/main__page/bed.jpg) center center/cover no-repeat;
}

.sofa {
    background: url(../img/main__page/sofa.jpg) center center/cover no-repeat;
}

.sofa__corner {
    background: url(../img/main__page/sofa_corner.jpg) center center/cover no-repeat;
}

.armchair {
    background: url(../img/main__page/armchair.jpg) center center/cover no-repeat;
}

.ottoman {
    background: url(../img/main__page/ottoman.jpg) center center/cover no-repeat;
}


/* .navigation {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    width: 230px;
    height: 150px;
    border: 2px solid #696d76;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    transition: .2s;
}

.item:hover {
    box-shadow: 10px 10px 5px 1px rgba(109, 96, 96, 0.3);
} */

.main { 
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/logo.jpg) center center/cover no-repeat;
}

.sofa {
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/sofa.jpg) center center/cover no-repeat;
}

.sofa__corner {
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/sofa_corner.jpg) center center/cover no-repeat;
}

.armchair {
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/armchair.jpg) center center/cover no-repeat;
}

.ottoman {
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/ottoman.jpg) center center/cover no-repeat;
}

.bed {
    width: 100%;
    height: 100%;
    border: none;
    background: url(../img/img__same/bed.jpg) center center/cover no-repeat;
}

.catalog {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.search {
    width: 90%;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort {
    max-width: 250px;
    height: 40px;
    margin: 0 5px;
    font-size: 20px;
    border: none;
    color: rgb(46 46 46);
}

.order {
    color: #FFFFFF;
    background: rgb(11, 94, 8);
}

.card {
    width: 350px;
    height: 400px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    transition: .2s;
}

.hide {
    display: none;
}

.card:hover {
    box-shadow: 10px 10px 5px 1px rgba(109, 96, 96, 0.3);
}

.card_info {
    width: 100%;
    padding: 10px 0 10px 10px;
    font-size: 20px;
    line-height: 25px;
    background: rgba(109, 105, 105, 0.5);
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: #FFFFFF;
    background: #2a2b2e;
}

.footer__item {
    margin: 10px 0 0 0;
}