@font-face {
    font-family: "Yanone";
    src: url("../fonts/Yanone.ttf") format("truetype");
}

body {
    position: relative;
    font-family: 'Yanone';
    margin: 0 auto;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 80%);
    color: #FFFFFF;
}


a {
    text-decoration: none;
}
