@font-face {
    font-family: "Circe";
    src: url("../fonts/Circe.otf") format("truetype");
}

@font-face {
    font-family: "Times";
    src: url("../fonts/Times.ttf") format("truetype");
}

body {
    position: relative;
    font-family: 'Circe', sans-serif;
    margin: 0 auto;
    color: #FFFFFF;
}


a {
    text-decoration: none;
}
