#_1 {
    background: url(../../img/bed__page/bed_1/bed_1.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/bed__page/bed_2/bed_1.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/bed__page/bed_3/bed_1.jpg) center center/cover no-repeat;
}

