/* #1 HEADER SECTION__________ */

.scroll {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    background: url(../../img/main__page/main-screen.jpg) center center/cover no-repeat /*fixed*/;
    background-size: contain;
    /* text-shadow: 3px 3px 3px rgb(0 0 0 / 80%); */
}

.scroll:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.soff {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: #FFFFFF;
}

.logo {
    font-family: 'Times', sans-serif;
    font-size: 80px;
    color: #000000;
}

.description {
    font-weight: 100;
    margin: -30px auto;
    text-transform: uppercase;
    font-size: 30px;
}

.consultation {
    width: 200px;
    height: 38px;
    margin: 20px 0 0 0;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: rgba(250, 250, 250, 0);
    transition: .5s;
}

.consultation:hover {
    background-color: rgba(0, 0, 0, 0.329);
}

.slider {
    width: 100%;
}

.slider__wrap {
    overflow: hidden;
}

.slider__track {
    width: 100%;
    height: 550px;
    display: flex;
    position: relative;
    transition: 1s;
}

.slider__item {
    min-width: 100%;
    height: 100%;
}

.slider__item:before {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
}

.slider__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}


.slider__description {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    background: #00000047;
}

.slider__description h2 {
    font-size: 50px;
    color: #FFFFFF;
}

.slider__description h2 span {
    font-size: 60px;
    font-weight: 900;
    color: #ff0000;
}

.slider button {
    margin: -270px 0 30px 0;
}

.timer {
    width: 100%;
    height: 150px;
    margin: 5% auto;
    display: flex;
}

.timer__block {
    width: 20%;
    height: 110px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 50px;
    background: rgb(0 0 0 / 30%);
}

.slider__description p {
    margin: 5px auto;
    font-size: 35px;
}

.slide_1 {
    background: url(../../img/main__page/newcomer.jpg) center center/cover no-repeat;
}

.slide_2 {
    background: url(../../img/main__page/bed.jpg) center center/cover no-repeat;
}

.slide_3 {
    background: url(../../img/main__page/sofa_corner.jpg) center center/cover no-repeat;
}

.slide_4 {
    background: url(../../img/main__page/ottoman.jpg) center center/cover no-repeat;
}

.btn__scroll {
    height: 100px;
    width: 100px;
    position: absolute;
    border: none;
    font-size: 50px;
    margin-top: -300px;
    opacity: 0.2;
    transform: scale(1, 2);
    transition: all ease .5s;
    z-index: 2;
}

.btn__scroll:hover {
    opacity: .6;
}

.btn__prev {
    left: 0;
}

.btn__next {
    right: 0;
}

#_1 {
    background: url(../../img/sofa__page/card_1/scandi_1.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/bed__page/bed_2/bed_2.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/corner-sofa/card_3/loft_e1.jpg) center center/cover no-repeat;
}

#_4 {
    background: url(../../img/sofa__page/card_10/scandi_6.jpg) center center/cover no-repeat;
}

#_5 {
    background: url(../../img/sofa__page/card_11/loft_b1.jpg) center center/cover no-repeat;
}

#_6 {
    background: url(../../img/corner-sofa/card_9/scandi_p1.jpg) center center/cover no-repeat;
}

/* #4 INSTAGRAM SECTION________ */

.marquee-infinite {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.marquee-infinite div {
    display: flex;
    width: 200%;
    animation: marquee-infinite 10s linear infinite;
}

.marquee-infinite span {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.instagram__item {
    height: 300px;
    margin: 0 3px;
}

.instagram__item img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* .marquee-infinite:hover div {
    animation-play-state: paused;
} */

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.item_1 {
    background: url(../../img/main__page/review_2.jpg) center center/cover no-repeat;
}

.item_2 {
    background: url(../../img/main__page/review_1.jpg) center center/cover no-repeat;
}


.item_3 {
    background: url(../../img/main__page/review_3.jpg) center center/cover no-repeat;
}

.item_4 {
    background: url(../../img/main__page/review_4.jpg) center center/cover no-repeat;
}


/* #5 ABOUT SECTION__________ */

.about {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    background: url(../../img/main__page/back.jpg) center center/cover no-repeat fixed;
}

.about:before {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
}

.about:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.about__wrap {
    width: 90%;
    height: 200px;
    color: #FFFFFF;
}

.about__wrap h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-transform: none;
}

.about__wrap p {
    font-size: 25px;
    line-height: 30px;
    margin: 10px auto;
}

.map__wrap {
    display: flex;
}

.address__wrap {
    width: 50%;
    font-size: 35px;
    text-transform: uppercase;
    color: #696d76;
    background: #2312;
}

.address {
    display: block;
    padding: 100px 0px;
    color: #696d76;
    text-align: center;
}