/* #1 HEADER SECTION__________ */

.scroll {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background: url(../../img/main__page/main-screen.jpg) center center/cover no-repeat fixed;
    background-size: contain;
    text-shadow: 3px 3px 3px rgb(0 0 0 / 80%);
}

.scroll:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.soff {
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: #FFFFFF;
}

.logo {
    font-size: 80px;
    color: #000000;
}

.description {
    font-weight: 100;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 30px;
}

.consultation {
    width: 200px;
    height: 38px;
    margin: 20px 0 0 0;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: rgba(250, 250, 250, 0);
    transition: .5s;
}

.consultation:hover {
    background-color: rgba(0, 0, 0, 0.329);
}

/* #2 PRODUCTS SECTION__________ */

.products {
    width: 100%;
}

h2 {
    padding: 25px 0 0 0;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #696d76;
}

.products__wrap {
    width: 100%;
    padding: 0 0 30px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.products__item {
    width: 400px;
    height: 200px;
    margin: 40px 10px;
    font-size: 30px;
    border: 2px solid #FFFFFF;
}

.products__description {
    width: 100%;
    margin: -27px auto;
    font-size: 30px;
}

.bed { 
    background: url(../../img/main__page/bed.jpg) center center/cover no-repeat;
}

.sofa {
    background: url(../../img/main__page/sofa.jpg) center center/cover no-repeat;
}

.sofa__corner {
    background: url(../../img/main__page/sofa_corner.jpg) center center/cover no-repeat;
}

.armchair {
    background: url(../../img/main__page/armchair.jpg) center center/cover no-repeat;
}

.ottoman {
    background: url(../../img/main__page/ottoman.jpg) center center/cover no-repeat;
}

/* #3 SLIDER SECTION__________ */

.slider {
    width: 100%;
}

.slider__wrap {
    overflow: hidden;
}

.slider__track {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    transition: 1s;
}

.slider__item {
    min-width: 100%;
    height: 100%;
}

.slider__item:before {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
}

.slider__item:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}


.slider__description {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    background: #00000047;
}

.slider__description h2 {
    font-size: 50px;
    color: #FFFFFF;
}

.slider__description h2 span {
    font-size: 60px;
    font-weight: 900;
    color: #ff0000;
}

.slider button {
    margin: -315px 0 30px 0;
}

.timer {
    width: 100%;
    height: 150px;
    margin: 5% auto;
    display: flex;
}

.timer__block {
    width: 20%;
    height: 110px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 50px;
    background: rgb(0 0 0 / 30%);
}

.slider__description p {
    margin: 5px auto;
    font-size: 35px;
}

.slide_1 {
    background: url(../../img/main__page/newcomer.jpg) center center/cover no-repeat;
}

.slide_2 {
    background: url(../../img/main__page/bed.jpg) center center/cover no-repeat;
}

.slide_3 {
    background: url(../../img/main__page/sofa_corner.jpg) center center/cover no-repeat;
}

.slide_4 {
    background: url(../../img/main__page/ottoman.jpg) center center/cover no-repeat;
}

.btn__scroll {
    height: 100px;
    width: 100px;
    position: absolute;
    border: none;
    font-size: 50px;
    margin-top: -300px;
    opacity: 0.2;
    transform: scale(1, 2);
    transition: all ease .5s;
    z-index: 2;
}

.btn__scroll:hover {
    opacity: .6;
}

.btn__prev {
    left: 0;
}

.btn__next {
    right: 0;
}

#_1 {
    background: url(../../img/bed__page/bed.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/bed__page/bed_2.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/bed__page/bed_3.jpg) center center/cover no-repeat;
}

#_4 {
    background: url(../../img/bed__page/bed_4.jpg) center center/cover no-repeat;
}

#_5 {
    background: url(../../img/bed__page/bed_5.jpg) center center/cover no-repeat;
}

#_6 {
    background: url(../../img/bed__page/bed_6.jpg) center center/cover no-repeat;
}

#_7 {
    background: url(../../img/bed__page/bed_7.jpg) center center/cover no-repeat;
}

#_8 {
    background: url(../../img/bed__page/bed_8.jpg) center center/cover no-repeat;
}

#_9 {
    background: url(../../img/bed__page/bed_9.jpg) center center/cover no-repeat;
}

/* #4 INSTAGRAM SECTION________ */

.marquee-infinite {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.marquee-infinite div {
    display: flex;
    width: 200%;
    animation: marquee-infinite 10s linear infinite;
}

.marquee-infinite span {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.instagram__item {
    height: 300px;
    margin: 0 3px;
    background: #000000;
}

.instagram__item img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.marquee-infinite:hover div {
    animation-play-state: paused;
}

@keyframes marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.item_1 {
    background: url(../../img/main__page/review_2.jpg) center center/cover no-repeat;
}

.item_2 {
    background: url(../../img/main__page/review_1.jpg) center center/cover no-repeat;
}


.item_3 {
    background: url(../../img/main__page/review_3.jpg) center center/cover no-repeat;
}

.item_4 {
    background: url(../../img/main__page/review_4.jpg) center center/cover no-repeat;
}


/* #5 ABOUT SECTION__________ */

.about {
    width: 100%;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    background: url(../../img/main__page/back.jpg) center center/cover no-repeat fixed;
}

.about:before {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    top: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff00);
}

.about:after {
    content: "";
    display: block;
    width: 100%;
    height: 2%;
    position: absolute;
    bottom: 0;
    background: transparent;
    background-image: linear-gradient(to bottom, #ffffff00, #ffffff);
}

.about__wrap {
    width: 90%;
    height: 200px;
    color: #FFFFFF;
}

.about__wrap h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-transform: none;
}

.about__wrap p {
    font-size: 25px;
    line-height: 30px;
    margin: 10px auto;
}

.map__wrap {
    display: flex;
}

.address__wrap {
    width: 50%;
    font-size: 35px;
    text-transform: uppercase;
    color: #696d76;
    background: #2312;
}

.address {
    display: block;
    padding: 100px 0px;
    color: #696d76;
    text-align: center;
}

/* #6 MEDIA STYLES__________ */


@media screen and (max-width: 1024px)  {

    .address__wrap {
        font-size: 20px;
    }

    .description {
        text-align: center;
        color: #000000;
    }

    .telephone {
        letter-spacing: 0px;
    }

    .consultation {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        padding: 0px 5px;
    }

    .contacts__wrap {
        width: 200px;
    }

    .logo {
        font-size: 60px;
    }
    
    .description {
        font-weight: 900;
        font-size: 25px;
    }
    
    .scroll {
        height: 100vh;
    }

    .soff {
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }

    .scroll .consultation {
        margin: -30px auto;
        font-weight: 600;
        color: #000000;
        border-color: #000000;
    }

    .products {
        display: none;
    }

    .slider__description h2 {
        font-size: 40px;
    }

    .slider__description p {
        font-size: 30px;
    }

    .modal__title {
        padding: 0 25px;
        font-size: 20px;
    }

    .about__wrap p {
        font-size: 25px;
        line-height: 25px;
        margin: 20px auto;
    }

    .address {
        padding: 100px 15px;
    }

    .footer {
        align-items: baseline;
        height: 100px;
    }
}

@media screen and (max-width: 425px) {

    .telephone {
        font-size: 12px;
    }

    .description {
        margin: 30px auto;
        font-size: 20px;
        text-align: center;
    }

    .products {
        display: none;
    }

    .slider__item {
        display: flex;
        align-items: center;
    }

    .slider__description {
        width: 100%;
    }

    .slider__description h2 {
        font-size: 30px;
    }

    .slider__description p {
        font-size: 20px;
    }

    .timer__block {
        height: 85px;
        font-size: 40px;
    }

    .instagram h2 {
        margin: 10px 0;
        font-size: 25px;
    }

    .instagram__item img {
        width: 200px;
    }

    .about__wrap p {
        font-size: 20px;
        line-height: 20px;
    }

    .address {
        padding: 100px 10px;
        font-size: 20px;
    }

    .footer {
        height: 200px;
    }
}

@media screen and (max-width: 375px) {

    .contacts__wrap {
        width: 175px;
    }

    .products {
        display: none;
    }

    .telephone {
        font-size: 13px;
    }

    .address {
        font-size: 15px;
    }

    .about__wrap p {
        font-size: 15px;
    }

    .footer {
        height: 250px;
    }
}

@media screen and (max-width: 320px) {
    .telephone {
        font-size: 10px;
    }

    .description {
        font-size: 15px;
    }

    .sort {
        font-size: 15px;
    }

    .menu a {
        font-size: 15px;
    }
}