.header {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat fixed;
    background-size: 100% auto;
}

#_1 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}

#_2 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}

#_3 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}

#_4 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}

#_5 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}

#_6 {
    background: url(../../img/pouf__page/ottoman.jpg) center center/cover no-repeat;
}